.tabs {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.tab {
  flex: 0 0 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 167%;
  text-align: center;
  color: #4a4a4a;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #dfe5ec;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #2196f3;
    color: #fff;
  }
  &:first-child {
    border-radius: 5px 0 0 5px;
    border-right: none;
  }
  &:last-child {
    border-radius: 0 5px 5px 0;
    border-left: none;
  }
}

.tabInput {
  display: none;
}

.tabLabel {
  display: inline-block;
  width: 33.333%;
}

.tabInput:checked + .tab {
  background-color: #2196f3;
  color: #fff;
}

.tabInput:focus + .tab {
  outline: 2px solid #2196f3;
}
