.route {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;

  &__block {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__caption {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #a0b0b9;
  }
  &__val {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #4a4a4a;
  }
}
