.route {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &__block {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #a0b0b9;
  }
  &__val {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #4a4a4a;
  }
 
   &:last-child {
    margin-bottom: 0;
  }
}
