.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__price {
    font-size: 24px;
    font-weight: 600;
    color: #2196f3;
    line-height: 100%;
  }
}

img {
  width: 50px;
  height: auto;
}