@import '../../styles/normalize.css';

:root {
  --font-family: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-family);
  color: #4a4a4a;
  background-color: #f3f7fa;
}

.container {
  max-width: 755px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  display: flex;
  flex: 1;
  @media (max-width: 960px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.filterColumn {
  flex: 0 0 33.33%;
}

.ticketColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}
