.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

.logo {
  display: block;

  &__img {
    object-fit: cover;
    object-position: center;
  }
}
